:root {
    --menu-bar-color: #222;
    --main-bg-color: #555;
    --menu-bg-color: #333;
    --main-font-color: #ddd;
    --msg-bg-color: #444;
}

body {
    padding: 0;
    margin: 0;
    font-family: Segoe UI, Arial;

    color: var(--main-font-color);;
}

#menu_bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100% - 40px);
    height: 20px;

    background: var(--menu-bar-color);
    color: var(--main-font-color);
    line-height: 20px;
    padding: 20px;
}

#channel_list {
    position: absolute;
    top: 60px;
    left: 0px;

    width: calc(200px - 20px);
    height: calc(100% - 80px);

    padding: 10px;
    
    background:  var(--menu-bg-color);;
}

#chat_holder {
    position: absolute;
    top: 60px;
    left: 200px;

    width: calc(100% - 400px);
    height: calc(100% - 60px);
    background:  var(--main-bg-color);
}

#channel_users {
    position: absolute;
    top: 60px;
    left: calc(100% - 200px);

    width: 180px;
    height: calc(100% - 80px);

    padding: 10px;

    background: var(--menu-bg-color);
}

#chat_content {
    width: calc(100% - 20px);
    height: calc(100% - 80px);
    padding: 10px;
    background: var(--main-bg-color);
}

#chat_text {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: var(--main-bg-color);
}

#chat_text input[type="edit"] {
    width: calc(100% - 20px);
    height: 40px;

    background: var(--msg-bg-color);
    color: var(--main-font-color);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;

    border-radius: 5px;

    border: none;
    outline: none;
}

.channel_list_entry {
    padding: 10px;
    overflow: hidden;
}

.channel_list_entry:hover {
    background: #222;
    cursor: pointer;
    border-radius: 5px;
}

.user_list_entry {
    padding: 10px;
    overflow: hidden;
}

.user_list_entry:hover {
    background: #222;
    cursor: pointer;
    border-radius: 5px;
    
}

#register_login_dialog {
    position: absolute;
    background: var(--menu-bg-color);
    color: #fff;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    padding: 10px;
    box-shadow: #111 0px 2px 8px;
    overflow: auto;
}

#register_dialog {
    position: absolute;
    top: 0;
    left: 25%;
    width: calc(50% - 20px);
    height: calc(100% - 20px);

    padding: 10px;
}

#login_dialog {
    position: absolute;
    top: 0;
    left: 25%;
    width: calc(50% - 20px);
    height: calc(100% - 20px);

    padding: 10px;
}

.dialog_header {
    font-size: 200%;
    font-weight: bold;
}

.labeled_edit {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.labeled_edit_label {

}

.labeled_edit_text {
    padding: 10px;
}

.labeled_edit_text input[type="edit"] {
    width: 100%;
    height: 44px;
    background: var(--main-bg-color);

    border-radius: 5px;
    border: none;
    outline: none;
}

.dialog_button {
    width: 100%;
    height: 40px;

    background: var(--menu-bar-color);
    color: #fff;

    border: none;
    border-radius: 5px;
}

.dialog_switcher {
    text-align: center;
    padding: 10px;
}

.dialog_switcher:hover {
    text-decoration: underline;
    cursor: pointer;
}